/*colors*/
:root {
  /*Text color*/
  --main-text-color: #757575;
  --text-title-color: #212121;
  --accent-color: #2196f3;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --second-accent-text-color: #ffffff;
  --form-text-color: rgba(117, 117, 117, 0.5);

  /*bg color*/
  --main-bg-color: #2f303a;
  --second-bd-color: #188ce8;
  --accent-bg-color: #f5f4fa;
  --img-bg-color: rgba(47, 48, 58, 0.8);
  --card-bg-color: rgba(33, 150, 243, 0.9);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --footer-form-color: rgba(255, 255, 255, 0.3);

  /*border color*/
  --border-color: #ececec;
  --second-border-color: #eeeeee;
  --border-form-color: rgba(33, 33, 33, 0.2);

  /*icons*/
  --main-icons-color: #afb1b8;
  --bg-icons-color: rgba(255, 255, 255, 0.1);
  --btn-icon-color: #000000;

  /*ANIMATION*/
  --slow-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--second-accent-text-color);
  color: var(--main-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* WebStudio */
/*header*/
.header {
  border-bottom: 1px solid var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-black {
  color: var(--text-title-color);
}

.nav-list {
  display: flex;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--slow-anim);
}
.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-link .link:active {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: background-color var(--slow-anim);
}

/*CONTACTS*/

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-list .contact-item + .contact-item {
  margin-left: 50px;
}
.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--slow-anim);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
/*section-hero*/
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: var(--main-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-text-color);
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--second-accent-text-color);
  transition: background-color var(--slow-anim) ;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--second-bd-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background-color: var(--modal-bg-color);
  transition: opacity var(--slow-anim), visibility var(--slow-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--second-accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--slow-anim), opacity var(--slow-anim) ;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale(.4);
  opacity: 0;
}

.backdrop .modal {
  transform: translate(-50%, -50%), scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--btn-icon-color);
  background-color: var(--second-accent-text-color);
  transition: color var(--slow-anim);

}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);

}
.modal-icon {
  fill: currentColor;
}

.modal-btn-send {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--second-accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--slow-anim);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: var(--second-bd-color);
}

/*FORM*/
.form-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}

.form {
  display: block;
}

.form-lable {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: var(--text-title-color)
}
.form-input-outline {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  color: var(--main-text-color);
}



.form-input-container {
  position: relative;
  display: block;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border:  1px solid var(--border-form-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--slow-anim);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: 0;
}


.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;
  transition: fill var(--slow-anim);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  color: var(--accent-color);
}

.form-lable.textarea {
  margin-bottom: 20px;

}
.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: var(--form-text-color);
  border: 1px solid var(--border-form-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--slow-anim);
  resize: none;
}

/*CHECKBOX*/

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

.custom-checkbox {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  outline: 2px solid var(--text-title-color);
  border-radius: 2px;
  outline-offset: -2px;
  transition: background-color var(--slow-anim);
}

.checkbox-icon {
  fill: var(--second-accent-text-color);
  opacity: 0;
  transition: opacity var(--slow-anim);
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
}

.checkbox:checked + .custom-checkbox .checkbox-icon {
  opacity: 1;
}


.checkbox-subscribe {
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-text-color);
}

.checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

/*







/*section description*/

.qualities-section {
  padding-top: 94px;
}

.qualities-item {
  width: 270px;
}

.qualities-list .qualities-item + .qualities-item {
  margin-left: 30px;
}
.qualities-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.qualities-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}
.qualities-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.qualities-picture {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-bg-color);
}

/*section What are we doing*/
.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}
.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-item {
  position: relative;
}

.work-description {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;

  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-accent-text-color);
  background-color: var(--img-bg-color);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 50px;
}

/*section our team*/

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--accent-bg-color);
}
.team-list {
  display: flex;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-blok {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-accent-text-color);
}
.team-item {
  background-color: var(--second-accent-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 50px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}

.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-text-color);
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list .socials-item + .socials-item {
  margin-left: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--second-accent-text-color);
  border-radius: 50%;
  transition: background-color var(--slow-anim);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-icon {
  fill: var(--main-icons-color);
  width: 20px;
  height: 20px;
  transition: fill var(--slow-anim);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--second-accent-text-color);
}

/*Section Clients*/

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.cliets-title {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--main-icons-color);
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;
  transition: color var(--slow-anim), border-color var(--slow-anim);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bg-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-contacts {
  margin-right: 70px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-white {
  color: var(--second-accent-text-color);
}
.address-box {
  font-style: normal;
}
.footer-item {
  text-decoration: none;
}
.footer-list .footer-item + .footer-item {
  margin-top: 9px;
}

.adress-footer {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-accent-text-color);
  transition: color var(--slow-anim);
}
.contacts-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  transition: color var(--slow-anim);
}
.adress-footer:hover,
.adress-footer:focus {
  color: var(--accent-color);
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.footer-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-accent-text-color);
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials-list .footer-socials-item + .footer-socials-item {
  margin-left: 10px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--second-accent-text-color);
  background-color: var(--bg-icons-color);
  transition: background-color var(--slow-anim);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}
.footer-socials-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/*FOOTER SABSCRIBE BLOK*/

.footer-subscribe-container {
  margin-left: auto;

}
.footer-subscribe-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--second-accent-text-color);

}

.footer-form {
  display: flex;
  align-items: center;
  
}

.footer-email-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-accent-text-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--footer-form-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color var(--slow-anim), color var(--slow-anim);
}

.footer-email-input:hover,
.footer-email-input:focus {
  border-color: var(--accent-color);
  outline: 0;
}


.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--second-accent-text-color);
  background-color: var(--accent-color);
  transition: background-color var(--slow-anim);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--second-bd-color);
}



.footer-send-icon {
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--second-accent-text-color);
}


.footer-label {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}







/*Portfolio*/

/*Filter section*/
.potfolio-filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--accent-bg-color);
  color: var(--text-title-color);
  transition: color var(--slow-anim),
    background-color var(--slow-anim),
    box-shadow var(--slow-anim);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--second-accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}

/*Card-section*/

/*CONTAINER*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list > .poftfolio-item {
  flex-basis: calc((100% / 3)-30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-link {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--slow-anim);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
    

.blok-description {
  display: inline-block;
  width: 370px;
  padding: 20px 24px;
  border: 1px solid var(--second-border-color);
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-title-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  
}



.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text{
  transform: translateY(0);
  
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-accent-text-color);
  background-color: var(--card-bg-color);
  transform: translateY(100%);
  transition: transform var(--slow-anim);

}
